body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	padding-bottom: 4rem;
	align-items: center;
    background-color: #297373;
}
.bg-svg {
	filter: blur(100px);
	position: fixed;
	left: 0;
	top: 5.5vh;
	width: 100vw;
	height: 100vh;
}
#cards {
	cursor: default;
}
.card {
	text-align: center;
	width: inherit;
	background-color: #00aeff;
	border-top: #000 2px solid;
	cursor: default;
	transition: background-color 500ms, color 500ms;
}
.card:hover {
	background-color: #7b0fc4;
	color: #fff;
}
.deck-container {
	position: relative;
	left: 2.5vw;
	top: 5vh;
	display: grid;
	grid-template-columns: repeat(5, 15vw);
	grid-column-gap: 5vw;
}
#previewOnHover {
	position: fixed;
	max-height: 448px;
	max-width: 680px;
	left: 100%;
	width: 200px;
	height: 280px;
	top: 7%;
	transform: translate(-110%, 0px);
	background: #000;
	color: #fff;
	border-radius: 9px;
}
#topbar {
	text-align: center;
	width: 100%;
	background: #ccc;
	height: 42vh;
	opacity: 99%;
	border-bottom: #fff solid 2px;
}
#titleText {
	font-size: 24pt;
	font-family: comic sans ms;
}
#titleInput {
	background: transparent;
	border: none;
	text-align: center;
	font-size: 24pt;
	font-family: comic sans ms;
}
#textStats {
	position: absolute;
	left: 1vw;
	top: 8%;
	text-align: left;
	font-size: 12pt;
	background-color: #044640;
	width: 9rem;
	color: #fff;
	font-family: open sans;
	border: 2px solid #fff;
	border-radius: 7px;
	padding: 1rem;
}
table, td, td {
	border: 1px solid #000;
}
table {
	border-collapse: collapse;
}
#cmcSettings {
	background: linear-gradient(233deg, rgb(207, 85, 255), rgb(110, 238, 255));
	border: 2px solid #aaa;
	border-radius: 11px;
	text-align: left;
	width: 15%;
	position: absolute;
	top: 11%;
	left: 20%;
}
#imagePreviewer {
	position: fixed;
	left: 0px;
	top: 0px;
	border-radius: 9px;
}
h1 {
	text-align: center;
}
.featuredDeck {
	background: #ddd;
	border: 1px #000 solid;
	border-radius: 11px;
}

.featuredDeck:hover {
	background: #8fcacc;
}

#featuredDecksBar {
	display: none;
	position: absolute;
	left: 5%;
	top: 7%;
	background: #a374de;
	border: 1px solid #fff;
	border-radius: 11px;
	height: 25%;
	color: #006411;
}

.paragraph {
	text-align: justify;
	width: 50%;
	position: absolute;
	left: 25vw;
	background: #ccc;
	opacity: 80%;
}

#errorCard {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.main-topbar {
	background: linear-gradient(233deg, #7b0fc4, #39393a, #85ffc7);
	color: #fff;
	font-family: Raleway;
	font-size: 14pt;
	align-items: center;
	border-bottom: 2px solid #fff;
	height: 5.5vh;
	display: flex;
	justify-content: space-between;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.main-topbar img {
	height: 5vh;
	cursor: pointer;
	justify-self: center;
	margin-left: 1rem;
	margin-right: 1rem;
}

.main-topbar span {
	cursor: default;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

.main-topbar span:hover {
	text-decoration: underline;
}

.nav-items {
	display: flex;
	justify-content: space-between;
	width: 38vw;
}

#chartContainer {
	position: relative;
	left: 50%;
	top: 10%;
	transform: translate(-50%, -0%);
	width: 400px;
	height: 400px;
	color: #00aeff;
}

#playGameButton {
	visibility: collapse;
	position: fixed;
	left: 80%;
	top: 7%;
	width: 8%;
	font-size: 18pt;
	font-family: Raleway;
	border: 1px solid #000;
	background: #ff830f;
	color: #000;
	cursor: pointer;
}

#playGameButton:hover {
	background: #bd620e;
}

#chooseGameModeArea {
	clip-path: polygon(0 100%, 100% 100%, 100% 15%, 60% 15%, 50% 0, 40% 15%, 0 15%);
	width: 8%;
	height: 22%;
	position: fixed;
	left: 80%;
	top: 16%;
	background: #ca7c08;
	visibility: collapse;
}

.gameModeOption {
	width: 90%;
	font-family: Raleway;
	font-size: 14pt;
	background: #9b6008;
	border: 1px solid #000;
	position: relative;
	left: 5%;
	cursor: pointer;
}

.gameModeOption:hover {
	border: 1px dotted #000;
}

#playButton {
	width: 90%;
	font-family: Raleway;
	font-size: 14pt;
	background: #9b1e08;
	border: 1px solid #fff;
	color: #fff;
	position: relative;
	left: 5%;
	cursor: pointer;
}

#playButton:hover {
	border: 1px dotted #fff;
}

footer {
	height: 1.5rem;
	color: #fff;
	border-top: 2px solid #fff;
	background: rgb(78, 78, 78);
	position: relative;
	top: 4rem;
	text-align: center;
	width: 100vw;
}

a {
	color: #0000ff;
}

.ec-button {
	background-color: #00aeff;
	font-family: Open Sans;
	font-size: 11pt;
	border: 1.5px solid;
	border-bottom-color: #fff;
	border-left-color: #fff;
	border-right-color: #ddd;
	border-top-color: #ddd;
	color: #fff;
	margin: 1rem;
	padding: 0.5rem;
	cursor: pointer;
	transition: all 250ms ease-in;
}

.ec-button:hover {
	background-color: #0099e0;
	border-top-color: #fff;
	border-right-color: #fff;
	border-bottom-color: #ddd;
	border-left-color: #ddd;
}

.commander {
	height: 10vw;
	border-radius: 9px;
	margin: 1rem;
	position: relative;
	top: 5vh;
}

.mainwrap {
	text-align: center;
}

.modal-shade {
	top: 0;
	left: 0;
	position: fixed;
	opacity: 0.6;
	background-color: #333;
	width: 100vw;
	height: 100vh;
}

.modal-main {
	position: fixed;
	left: 30vw;
	top: 30vh;
	width: 40vw;
	height: 40vh;
	background-color: #fff;
	border: 2px solid #ccc;
	border-radius: 3px;
}

.modal-title {
	background-color: #ddd;
	font-family: Open Sans;
	padding: 0.25rem;
}

.modal-content {
	padding: 1rem;
}

.modal-content input {
	width: 80%;
	font-size: 11pt;
	margin: 0.25rem;
	transition: background-color 250ms;
}

.modal-content input:focus {
	background-color: #a0e1ff;
	border: none;
}

.ec-button-gray {
	background-color: #ccc;
}

.ec-button-gray:hover {
	background-color: #aaa;
}

.modal-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.filter-grid {
	width: 30vw;
	position: relative;
	left: 35vw;
	display: flex;
	border: 1px solid #00f;
	justify-content: space-between;
}

.filter-item {
	transition: all 250ms;
	padding: 1vw;
}

.filter-item:hover {
	background-color: #aaa;
}

.filter-item img {
	height: 3vh;
}

.filter-gray {
	filter: grayscale(100%);
}

.hover-helper {
	position: absolute;
	background-color: rgb(53, 53, 53);
	color: #fff;
	width: 10vw;
	border-radius: 3px;
	font-family: Open Sans;
}

.loading-bar {
	width: 20vw;
	height: 10px;
	border-radius: 5px;
	background-color: rgb(139, 139, 139);
	position: relative;
	margin: 20px;
	left: 40vw;
	overflow: hidden;
}

.loaded {
	background-color: #00aeff;
	height: 100%;
}

.stats-container {
	height: 24vh;
	overflow: hidden;
}

.nav-hamburger {
	display: none;
}

.mobile-nav {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	background-color: #39393A;
	color: #fff;
	font-family: Open Sans;
}

@media (max-width: 1800px) {
	.commander {
		height: 12vw;
	}
}
@media (max-width: 1650px) {
	.commander {
		height: 13vw;
	}
}

@media (max-width: 1500px) {
	footer {
		height: 2.5rem;
	}
	.commander {
		height: 14vw;
	}
}

@media (max-width: 1150px) {
	.deck-container {
		grid-template-columns: repeat(4, 20vw);
	}
	.commander {
		height: 20vw;
	}
	#cmcSettings {
		top: 27vh;
		left: 3vw;
	}
}

/* Mobile */
@media (max-width: 750px) {

	.nav-items {
		display: none;
	}

	.nav-hamburger {
		display: inherit;
	}

	#topbar {
		height: 50vh;
	}

	footer {
		height: 3.5rem;
	}
	.commander {
		height: 30vw;
	}

	/* #featuredDecksBar {
		left: 50%;
		top: 30%;
		transform: translate(-50%, 0);
		width: 75vw;
	} */

	.deck-container {
		grid-template-columns: repeat(2, 45vw);
	}

	.filter-grid {
		width: 50vw;
		left: 25vw;
	}

	#textStats {
		position: relative;
	}

	#chartContainer {
		position: relative;
	}

	#previewOnHover {
		display: none;
	}

	.stats-container {
		height: 35vh;
	}

	#cmcSettings {
		left: 50vw;
		top: 16vh;
		width: 50vw;
	}
}