.play-container {
    margin: 0px;
    padding: 0px;
    background-color: #46bec2;
    font-family: Open Sans;
}

.play-container #bottomBar {
    background: #46c257;
    position: fixed;
    top: 83%;
    height: 17%;
    width: 100%;
}

.play-container #bottomBar div {
    height: 16%;
    border: 2px solid #000;
    position: fixed;
    top: 83.5%;
}

.play-container #graveyardArea {
    left: 0px;
    width: 12.5vw;
}

.play-container #handArea {
    left: 13.25vw;
    width: 79.75vw;
    display: flex;
    align-content: center;
}

.play-container #libraryArea {
    left: 93.75vw;
    width: 6.25vw;
}

.play-container #chatBar {
    position: fixed;
    height: 77%;
    width: 20%;
    background: #d18547;
    border: 2px solid #000;
    left: 80%;
    top: 2.5%;
    overflow-y: scroll;
}

.play-container .chat-message {
    background: #94babb;
    width: 85%;
    font-size: 12pt;
    position: relative;
    left: 7.5%;
    border-radius: 9px;
    margin: 2%;
}

.play-container .meta {
    color: #2a42c9;
    position: relative;
    left: 5%;
}

.play-container .text {
    color: #222;
    position: relative;
    left: 2.5%;
}

.play-container #message-input {
    position: relative;
    width: 80%;
    margin: 1.5%;
}

.play-container #send-button {
    position: relative;
    width: 10%;
}

.play-container #input-msg {
    position: absolute;
    top: 80%;
    left: 80%;
    width: 20%;
    background: #d18547
}

.play-container #topBar {
    display: flex;
    flex-direction: row;
    height: 2.5%;
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    border-bottom: 1px solid #000;
    background: #ccc;
}

.play-container #gameName {
    color: #fff;
    background: #2a42c9;
    border: 1px solid #000;
    width: max-content;
    cursor: default;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 1rem;
}

.play-container .user {
    background: #4256c7;
    border: 1px solid #000;
    width: max-content;
}

.play-container #usersCont {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.play-container .game-event {
    width: 90%;
    background: #1b2b70;
    border-top: 2px solid #fff;
    color: #fff;
    font-size: 11pt;
    margin-left: 5%;
}

.play-container .battlefield {
    display: grid;
    grid-template-rows: auto auto;
    height: 40.25vh;
    position: fixed;
    width: 70vw;
    left: 10vw
}

.play-container #opponentField {
    top: 2.5vh;
    border-bottom: 2px solid #000;
}

.play-container #playerField {
    top: 42.75vh;
}

.play-container .card, .play-container #handArea img {
    width: 11.5vh;
    height: 15vh;
    margin: 1vh;
    background: #000;
    border-radius: 0.55vh;
}

.play-container #contextMenu {
    visibility: collapse;
    position: fixed;
    height: min-content;
    width: 5vw;
    display: flex;
    flex-direction: column;
    background: #ccc;
}

.play-container .context-menu-item {
    background: #888;
    margin: 0.25rem;
    font-size: 9pt;
    cursor: default;
}

.play-container .context-menu-item:hover {
    background: #666;
}