.deck-maker-container {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 4rem;
  background: $color_6;
  border-radius: 4px;
  border: 2px solid #fff;
  padding: 2rem;

  .maker-section {
    border: 2px solid $color_1;
    border-radius: 4px;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    .deck-split {
      display: flex;
      justify-content: space-between;

      .add-card-flex {
        width: 28vw;
        display: flex;
        align-items: center;

        .input {
          margin-top: 0.5rem;
          flex-grow: 1;
        }

        .qty-dropdown-cont {
          background: $color_5;
          margin: 0.5rem;
          padding: 0.35rem;
          border-radius: 5px;

          .qty-dropdown {
            width: 2.5rem;
          }
        }
      }

      .card-autofill {
        display: flex;
        flex-direction: column;
        color: #000;
        background-color: #eee;
        width: 21vw;

        .autofill-item {
          padding-left: 1rem;
          padding-top: 0.1rem;
          padding-bottom: 0.1rem;
          cursor: default;
          transition: background-color 300ms;

          &:hover {
            background-color: darken(#eee, 20%);
          }
        }
      }

      .deck-visualizer {
        border-radius: 4px;
        border: 2px solid $color_2;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(4, 12vw);
        grid-column-gap: 2rem;
        grid-row-gap: 0.1rem;
        height: 20rem;
        overflow-y: scroll;

        .card {
          padding-left: 0.5rem;
          margin-top: 0.1rem;
          margin-bottom: 0.1rem;
          height: 1.5rem;
          display: flex;
          justify-content: space-between;

          .card-menu {
            display: flex;

            .green {
              background-color: rgb(23, 192, 23);
              transition: background-color 300ms;

              &:hover {
                background-color: darken(rgb(23, 192, 23), 10%);
              }
            }

            .red {
              background-color: red;
              transition: background-color 300ms;

              &:hover {
                background-color: darken(red, 10%);
              }
            }

            .menu-option {
              padding-left: 0.5rem;
              padding-right: 0.5rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1920) {
  .deck-visualizer {
    grid-template-columns: repeat(3, 15vw);
  }
}
