.top-profile-bar {
  display: flex;
  background-color: lighten($color: $color_6, $amount: 10);
  padding-left: 1rem;
  padding-right: 1rem;

  h1 {
    color: $color_2;
    margin-bottom: 0;
  }

  .rank {
    color: $color_1;
  }

  .line-vertical {
    height: 5rem;
    width: 2px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 3rem;
    margin-left: 3rem;
    background-color: $color_3;
  }

  p {
    color: #ddd;
  }

  .small-nav {
    display: flex;
    flex-direction: column;
  }
}

.profile-content-tabs {
  border-bottom: $color_1 2px solid;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;

  .profile-content-tab {
    color: $color_1;
    border-left: 2px solid $color_4;
    border-right: 2px solid $color_4;
    border-top: 2px solid $color_4;
    padding: 0.25rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: darken($color: $color_6, $amount: 5);
    cursor: pointer;
    transition: all 300ms;

    &-select {
      color: $color_4;
    }

    &:hover {
      background: darken($color: $color_6, $amount: 10);
    }
  }
}
